<div class="container">
  <table class="table table-striped">
    <input class="form-control" type="text" ng-model="nameFilter" placeholder="Search..." />
    <thead>
      <tr>
        <th colspan="4">Drivers Championship Standings</th>
      </tr>
      <tbody>
        <tr ng-repeat="driver in driversList | filter: searchFilter">
          <td>{{$index + 1}}</td>
          <td>
            <img src="img/flags/{{driver.Driver.nationality}}.png" />
            <a href="#/drivers/{{driver.Driver.driverId}}">
            {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
          </td>
          <td>{{driver.Constructors[0].name}}</td>
          <td>{{driver.points}}</td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>